@media (max-width: 1080px) {
    .second-content-container-row .content-container {
        display: block;
        width: auto;
        margin: auto;
        text-align: center;
    }

    .second-content-container-row img {
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.vh {
    position: relative;
    margin: auto;
    width: 1500px;
    max-width: 100%;
}

.vh .wrap img {
    max-width: 100%;
    margin: auto;
}
.wrap h2 {
    margin: auto;
    font-size: 1em;
    text-align: center;
}
.wrap p {
    margin: auto;
    font-size: 3em;
    text-align: center;
}
@media (max-width: 664px) {
    .wrap h2 {
        margin: auto;
        font-size: 1em;
        text-align: center;
    }
    .wrap p {
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }
}