@charset "UTF-8";
@import 'compass';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';

}

body {
    width: auto;
    min-height: 100%;
    background: url(/images/pexels-anne-sakari.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.banner {
    height: 800px;
    width: 1200px;
    background-color: rgba(36, 186, 236, 0.5);
    background: url(https://webbox.imgix.net/images/imvjealrgffpmdxq/7ed37fd1-245e-42f4-9339-b27a9adfe4c5.jpg?auto=format,compress&fit=crop&crop=entropy&w=1858);
    background-size: cover;
    background-position: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.banner h1 {
    font-size: 100px;
    font-family: Brush Script MT, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(22, 110, 243, 0.3);
}

.navbar a {
    padding-left: 50px;
}

.welcome-message h1 {
    margin-top: 50px;
    font-size: 50px;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.landing-page-gallery-container {
    height: auto;
    width: 1200px;
    margin-top: 20px;
    background-color: rgb(240, 248, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.landing-page-gallery-container h1 {
    padding: 20px 0px;
}

.landing-page-gallery-container img {
    height: 250px;
    width: 350px;
}

.btn {
    display: inline-block;
    margin: 50px 0;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 20px;
}

.btn-bubble {
    color: white;
    background-color: #77b11c;
    background-repeat: no-repeat;
}

.btn-bubble:hover,
.btn-bubble:focus {
    -webkit-animation: bubbles 1s forwards ease-out;
    animation: bubbles 1s forwards ease-out;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 43% 93% / 1.03em 1.03em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 60% 141% / 0.63em 0.63em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 33% 126% / 1.08em 1.08em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 63% 137% / 0.92em 0.92em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 74% 142% / 1em 1em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 60% 150% / 1.15em 1.15em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 64% 146% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 147% / 0.67em 0.67em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 21% 139% / 0.68em 0.68em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) -5% 92% / 0.94em 0.94em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 104% 87% / 1.18em 1.18em;
    background-color: #77b11c;
    background-repeat: no-repeat;
}

@-webkit-keyframes bubbles {
    100% {
        background-position: 44% -233%, 68% -103%, 40% -356%, 71% -61%, 79% -17%, 64% -339%, 66% -37%, 4% 19%, 16% 51%, -15% -189%, 102% 36%;
        box-shadow: inset 0 -6.5em 0 #0072c4;
    }
}

@keyframes bubbles {
    100% {
        background-position: 44% -233%, 68% -103%, 40% -356%, 71% -61%, 79% -17%, 64% -339%, 66% -37%, 4% 19%, 16% 51%, -15% -189%, 102% 36%;
        box-shadow: inset 0 -6.5em 0 #0072c4;
    }
}

/* -------------------------------- 
  Images on landing page below welcome message
💡 Styling siblings on hover
🔗 https://codyhouse.co/nuggets/styling-siblings-on-hover

-------------------------------- */
.radio-btns {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 100px);
}

.radio-btns:hover .radio-btns__btn:not(:hover) {
    filter: grayscale(100%);
    opacity: 0.75;
}

.radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(#000, 0.5);
}

@media (min-width: 30rem) {
    .radio-btns {
        grid-template-columns: repeat(3, 350px);
    }
}

.radio-btns__btn {
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.radio-btns__btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    transition: .3s;
}

.radio-btns__btn img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-left: 70px;
}
